header {
  & a:first-child {
    margin-right: auto;

  }
}

@media (width >=80em) {
  .btn-sm {
    padding: .75rem 1.5rem;
    font-size: var(--fs-base);
  }

  .btn-md {
    padding: 1rem 2rem;
    font-size: 1.125rem;
  }
}